.card {
  margin-bottom: 1.5 * $spacer;
  border: none;
  // Cards with color accent
  @each $color, $value in $colors {
    &.bg-#{$color} {
      background-color: $value;
      .card-footer {
        background-color: darken($value, 35%);
      }
    }
  }

  .card-footer {
    &.weather-details {
      border: none;
      .weather-info {
        text-align: center;
        i {
          color: $white;
          font-size: 1.25rem;
          display: block;
        }
        span {
          color: $white;
          font-size: 1rem;
        }
      }
    }
  }

  .card-body {
    .weather-main {
      text-align: center;
      .weather-icon {
        display: block;
        margin-bottom: 15px;
        margin-top: 25px;
        font-size: 6rem;
      }
      .weather-desc {
        font-size: 0.85rem;
        display: block;
      }
      .weather-location {
        font-size: 1rem;
        font-weight: 700;
        display: block;
      }
    }
  }
}
