// Navbar

$navbar-height: 55px !default;
$navbar-bg: #fff !default;
$navbar-border: (bottom: (size: 1px, style: solid, color: $border-color))
  !default;
$navbar-color: $gray-600 !default;
$navbar-hover-color: $gray-800 !default;
$navbar-active-color: $gray-800 !default;
$navbar-brand-width: 250px !default;
$navbar-brand-bg: #fff !default;
$navbar-brand-logo: url("../img/logo.png") !default;
$navbar-brand-logo-size: 220px auto !default;
$navbar-brand-border: (bottom: (size: 1px, style: solid, color: $border-color))
  !default;
// Footer

$footer-height: 50px !default;
